<script type="text/javascript" src="/js/app/app.js"></script>

<div data-ng-app="twitterChart">
	<div data-ng-controller='ChartController'>
		<header id="header">
			<h1>@mention aos principais presidenciáveis a partir de agora!</h1>
			<div id="chart"></div>
		</header>
		<footer id="footer">
			<div class="area">
				<div class="row-10">
					<div class="col-md-3-3">
						<article class="candidate">
							<header>
								<figure>
									<img src="https://pbs.twimg.com/profile_images/496237065537732608/HwSj2e2B.jpeg" alt="">
								</figure>
								<h2>
									<a href="http://www.twitter.com/dilmabr" target="_blank">@dilmabr</a>
								</h2>
							</header>
							<ul class="tweets">
								<li data-ng-repeat="tweet in dilmaTweets.take(5)">
									<article class="tweet">
										<header>
											<figure>
												<a ng-href="http://www.twitter.com/\{{tweet.user.screen_name}}" target="_blank">
													<img ng-src="\{{tweet.user.profile_image_url}}" alt="" />
												</a>
											</figure>
											<h3>
												<a ng-href="http://www.twitter.com/\{{tweet.user.screen_name}}" target="_blank">@\{{tweet.user.screen_name}}
												</a>
											</h3>
										</header>
										<p>\{{tweet.text}}</p>
									</article>
								</li>
							</ul>

						</article>
					</div>
					<div class="col-md-3-3">
						<article class="candidate">
							<header>
								<figure>
									<img src="https://pbs.twimg.com/profile_images/501331826607022080/u4jPAyae.jpeg" alt="">
								</figure>
								<h2>
									<a href="http://www.twitter.com/AecioNeves" target="_blank">@AecioNeves</a>
								</h2>
							</header>
							<ul class="tweets">
								<li data-ng-repeat="tweet in aecioTweets.take(5)">
									<article class="tweet">
										<header>
											<figure>
												<a ng-href="http://www.twitter.com/\{{tweet.user.screen_name}}" target="_blank">
													<img ng-src="\{{tweet.user.profile_image_url}}" alt="" />
												</a>
											</figure>
											<h3>
												<a ng-href="http://www.twitter.com/\{{tweet.user.screen_name}}" target="_blank">@\{{tweet.user.screen_name}}
												</a>
											</h3>
										</header>
										<p>\{{tweet.text}}</p>
									</article>
								</li>
							</ul>

						</article>
						
					</div>
					<div class="col-md-3-3">
						<article class="candidate">
							<header>
								<figure>
									<img src="https://pbs.twimg.com/profile_images/502534288248958976/3vUYXQun_reasonably_small.png" alt="">
								</figure>
								<h2>
									<a href="http://www.twitter.com/silva_marina" target="_blank">
										@silva_marina
									</a>
								</h2>
							</header>
							<ul class="tweets">
								<li data-ng-repeat="tweet in marinaTweets.take(5)">
									<article class="tweet">
										<header>
											<figure>
												<a ng-href="http://www.twitter.com/\{{tweet.user.screen_name}}" target="_blank">
													<img ng-src="\{{tweet.user.profile_image_url}}" alt="" />
												</a>
											</figure>
											<h3>
												<a ng-href="http://www.twitter.com/\{{tweet.user.screen_name}}" target="_blank">@\{{tweet.user.screen_name}}
												</a>
											</h3>
										</header>
										<p>\{{tweet.text}}</p>
									</article>
								</li>
							</ul>
						</article>					
					</div>
				</div>
			</div>
		</footer>
	</div>

	<a href="https://github.com/joaom182/blue-tomato/tree/master" target="_blank">
		<img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png">
	</a>
</div>